.img.img_slide {
    width: 100%;
}
[view=banner] .item {
    width: 100%;
}
#myCarousel{
    max-height: 700px !important;
}
[view=banner] .img_slide {
    width: 100%;
    max-height: 700px !important;
}