#thanh-container{
    width: 90%!important;
}

.inner-men-cart-pro .link-product-add-cart{
    left: 0%!important;
    width: 50%!important;
    margin-left: 25%;
}
.product-new-top{
    right: 10px!important;
    width: 50px!important;
    font-size: 15px!important;
    height: 50px!important;
}

.tittle-w3l{
    margin-top: 50px;
}

.image-bot{
    margin-top: 10px;
    width: 450px;
}
.image-bot-container{
    float: left;
}

.seller_info{
    margin-top: 20px;
}

.description-product{
    line-height: 1.8em;
    margin-top: 10px;
}

.product-new-top{
    background: #FF5722!important;
}

#replies-box{
    margin-left: 50px;
}

.compare {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

#title-compare {
    margin-bottom: 40px;
}

.news {
    margin-bottom: 20px;
}

[view=cart] {
    min-height: 500px;
}

.time-line {
    min-height: 500px;
    margin-bottom: 200px;
}

.time-line-head {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

[view=info] {
    position: relative;
    margin: 0 auto;
}

.account {
    margin-top: 50px;
}

[view=time-line] {
    min-height: 700px;
}

[view=time-line] h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

/*post index*/
.morecontent span {
    display: none;
}

.morelink {
    display: block;
    color: blue !important;
}

.submit-info {
    padding: 12px 25px;
    letter-spacing: 1px;
    background: #1accfd;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;

}

.h2-edit-sell {
    margin-bottom: 20px;
}
.thanh-product-detail {
    width: 30%;
    display: inline-block!important;
}
.thanh-detail {
    width: 100%!important;
}

.button-wishlist {
    background: red;
}

.button-compare {
    background: orangered;
}

.wishlist-index {
    border: 1px solid black;
    height: 120%;
}

.btn-warning {
    background: #FF5722 !important;
    margin-top: 10px;
    width: 100px;
}

.thanh-list-inline {
    margin-top: 8px;
}

.thanh-list-inline li {
    margin-left: 10px;
}

.search-price {
    margin-top: 10px;
}

#replies-box {
    margin-left: 50px;
}

.content-cmt {
    margin-left: 50px;
}
#pendding{
    color:blue;
    font-size: 14px;
}

#status-rejected{
    color: red;
}