#thanh-container{
    width: 90%!important;
}
.inner-men-cart-pro .link-product-add-cart{
    left: 0%!important;
    width: 50%!important;
    margin-left: 25%;
}
.product-new-top{
    right: 10px!important;
    width: 50px!important;
    font-size: 15px!important;
    height: 50px!important;
}